@using CleanArchMvc.Application.DTOs
@model CategoryDTO

@{
    ViewData["Title"] = "Create a Category";
}

<div class="row">
    <div class="col-sm-12">
        <label for="name">Name</label>
        <input class="form-control" id="name"/>
    </div>
</div>
